<a href="https://colab.research.google.com/github/Vovladimir/Numpy_Matplotlib_Scikit-learn/blob/lesson3/%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Задание 4

В этом задании мы будем работать с датасетом, с которым мы уже знакомы по домашнему заданию по библиотеке Matplotlib, это датасет Credit Card Fraud Detection.Для этого датасета мы будем решать задачу классификации - будем определять,какие из транзакциции по кредитной карте являются мошенническими.Данный датасет сильно несбалансирован (так как случаи мошенничества относительно редки),так что применение метрики accuracy не принесет пользы и не поможет выбрать лучшую модель.Мы будем вычислять AUC, то есть площадь под кривой ROC.
Импортируйте из соответствующих модулей RandomForestClassifier, GridSearchCV и train_test_split.
Загрузите датасет creditcard.csv и создайте датафрейм df.
С помощью метода value_counts с аргументом normalize=True убедитесь в том, что выборка несбалансирована.Используя метод info, проверьте, все ли столбцы содержат числовые данные и нет ли в них пропусков.Примените следующую настройку, чтобы можно было просматривать все столбцы датафрейма:
pd.options.display.max_columns = 100.
Просмотрите первые 10 строк датафрейма df.
Создайте датафрейм X из датафрейма df, исключив столбец Class.
Создайте объект Series под названием y из столбца Class.
Разбейте X и y на тренировочный и тестовый наборы данных при помощи функции train_test_split, используя аргументы: test_size=0.3, random_state=100, stratify=y.
У вас должны получиться объекты X_train, X_test, y_train и y_test.
Просмотрите информацию о их форме.
Для поиска по сетке параметров задайте такие параметры:
parameters = [{'n_estimators': [10, 15],
'max_features': np.arange(3, 5),
'max_depth': np.arange(4, 7)}]
Создайте модель GridSearchCV со следующими аргументами:
estimator=RandomForestClassifier(random_state=100),
param_grid=parameters,
scoring='roc_auc',
cv=3.
Обучите модель на тренировочном наборе данных (может занять несколько минут).
Просмотрите параметры лучшей модели с помощью атрибута best_params_.
Предскажите вероятности классов с помощью полученнной модели и метода predict_proba.
Из полученного результата (массив Numpy) выберите столбец с индексом 1 (вероятность класса 1) и запишите в массив y_pred_proba. Из модуля sklearn.metrics импортируйте метрику roc_auc_score.
Вычислите AUC на тестовых данных и сравните с результатом,полученным на тренировочных данных, используя в качестве аргументов массивы y_test и y_pred_proba.

In [2]:
from google.colab import files

In [3]:
import pandas as pd
import numpy as np

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

In [20]:
credits = files.upload()

Saving creditcard.csv to creditcard (1).csv

In [63]:
df = pd.read_csv('creditcard.csv')

In [64]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [65]:
df.value_counts(normalize=True)

Time   V1         V2         V3         V4         V5         V6         V7         V8         V9         V10        V11        V12        V13        V14        V15        V16        V17        V18        V19        V20        V21        V22        V23        V24        V25       V26        V27        V28        Amount  Class
43153  -2.086016   2.203265   1.654339   2.941050  -1.683045   0.529728  -1.352162   1.793449  -0.723686   0.600365  -0.982212  -0.551636  -1.337000   0.834403   1.251862   0.033455   1.067978   0.160510   0.213087   0.079002   0.216444   0.567241  -0.035345   0.370201  0.157378   0.440341   0.210230   0.090558  0.76    0.0      0.000146
39897   1.121371  -0.286239   1.104577   0.687660  -0.893734   0.217062  -0.707488   0.236277   0.691782  -0.080416   0.672237   1.019524   0.016442  -0.224527  -0.473471   0.457965  -0.543560   0.371483   0.366135  -0.036556  -0.049072  -0.029611  -0.039714   0.052739  0.260364   0.317077   0.008665   0.017453  29.79   0.0      0.000065
24050   0.783460  -0.766538   1.331255   1.812482  -0.929991   1.318111  -0.979965   0.472786   2.619051  -0.585481   1.053027  -1.765809   0.328310   1.034281  -2.276501  -0.441464   0.922500   0.463104  -0.140250  -0.002170   0.027365   0.410787  -0.294227  -0.325263  0.518533  -0.140764   0.042981   0.031839  150.00  0.0      0.000065
39897   1.166906  -0.210996   1.131007   0.668514  -0.870488   0.208580  -0.738765   0.242394   0.694558  -0.069438   0.671899   1.018553   0.012239  -0.229863  -0.476436   0.454856  -0.544259   0.366654   0.373663  -0.084555  -0.063354  -0.017171  -0.018939   0.051530  0.269018   0.319591   0.013118   0.013349  6.22    0.0      0.000065
42303  -1.373784  -0.080674   2.711809   1.347128   0.256678  -0.351185  -0.428362   0.200538   0.281153  -0.453012  -0.954829   0.429874   0.266426  -0.598452  -0.173526  -0.619363   0.256819  -0.082466   0.936687   0.164346  -0.068448  -0.123802  -0.130061   0.403627  0.310352  -0.336794  -0.084476   0.267646  1.00    0.0      0.000065
                                                                                                                                                                                                                                                                                                                                             ...
40514   1.261224  -0.164961   0.051134   0.187023  -0.196412  -0.055275  -0.123006  -0.000833  -1.522744   0.910676   1.153623   0.784450   0.418330   0.535953   0.179267  -1.520789  -0.199136   0.792993  -0.806913  -0.513478  -0.679672  -1.549855   0.184193  -0.398988  0.234551  -0.709999   0.039616   0.015586  23.78   0.0      0.000016
40513  -0.965352  -0.129783   1.385266  -1.214483  -0.337439  -0.640034   1.034639  -0.126769  -1.699092  -0.132875  -1.218854  -1.024607  -0.616211   0.299848   0.399746  -0.943129  -0.397825   0.900044  -0.931951  -0.125941  -0.745513  -2.235299   0.400810  -0.255040  0.071167  -0.066708  -0.077630   0.072130  166.00  0.0      0.000016
       -1.418586  -1.188332   0.415869   0.690494  -1.271480   0.357988   3.317921  -0.441781  -0.346210  -1.057348  -0.341648  -0.222253  -0.715370   0.090457  -0.276987  -0.516212  -0.109393  -0.616945  -1.356983   1.278112   0.435797   0.305451   1.371390   0.317771  0.530960  -0.494346  -0.383706  -0.179826  671.83  0.0      0.000016
40512   1.073704  -0.223676  -0.316403  -0.246124   0.014670  -0.406057   0.315603  -0.065236  -0.275436  -0.094899   1.445285   0.820870  -0.251739   0.741780   0.440390   0.011277  -0.224868  -0.801653   0.373764   0.091003  -0.272150  -1.039802   0.047119  -0.271211  0.104038   0.759389  -0.116508  -0.002313  99.90   0.0      0.000016
0      -1.359807  -0.072781   2.536347   1.378155  -0.338321   0.462388   0.239599   0.098698   0.363787   0.090794  -0.551600  -0.617801  -0.991390  -0.311169   1.468177  -0.470401   0.207971   0.025791   0.403993   0.251412  -0.018307   0.277838  -0.110474   0.066928  0.128539  -0.189115   0.133558  -0.021053  149.62  0.0      0.000016
Length: 61350, dtype: float64

In [66]:
df.Class.value_counts(normalize=True)

0.0    0.997354
1.0    0.002646
Name: Class, dtype: float64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61600 entries, 0 to 61599
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    61600 non-null  int64
 1   V1      61600 non-null  float64
 2   V2      61600 non-null  float64
 3   V3      61600 non-null  float64
 4   V4      61600 non-null  float64
 5   V5      61600 non-null  float64
 6   V6      61600 non-null  float64
 7   V7      61600 non-null  float64
 8   V8      61600 non-null  float64
 9   V9      61600 non-null  float64
 10  V10     61599 non-null  float64
 11  V11     61599 non-null  float64
 12  V12     61599 non-null  float64
 13  V13     61599 non-null  float64
 14  V14     61599 non-null  float64
 15  V15     61599 non-null  float64
 16  V16     61599 non-null  float64
 17  V17     61599 non-null  float64
 18  V18     61599 non-null  float64
 19  V19     61599 non-null  float64
 20  V20     61599 non-null  float64
 21  V21     61599 non-null  float64
 22  V22     61599 non-null  float64
 23  V23     61599 non-null  float64
 24  V24     61599 non-null  float64
 25  V25     61599 non-null  float64
 26  V26     61599 non-null  float64
 27  V27     61599 non-null  float64
 28  V28     61599 non-null  float64
 29  Amount  61599 non-null  float64
 30  Class   61599 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 14.6 MB

In [74]:
df = df.fillna(0)

In [68]:
pd.options.display.max_columns = 100

In [69]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
5,2,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,1.341262,0.359894,-0.358091,-0.137134,0.517617,0.401726,-0.058133,0.068653,-0.033194,0.084968,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0.0
6,4,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,-1.416907,-0.153826,-0.751063,0.167372,0.050144,-0.443587,0.002821,-0.611987,-0.045575,-0.219633,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0.0
7,7,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,-0.619468,0.291474,1.757964,-1.323865,0.686133,-0.076127,-1.222127,-0.358222,0.324505,-0.156742,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0.0
8,7,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,-0.705117,-0.110452,-0.286254,0.074355,-0.328783,-0.210077,-0.499768,0.118765,0.570328,0.052736,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0.0
9,9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,1.017614,0.836390,1.006844,-0.443523,0.150219,0.739453,-0.540980,0.476677,0.451773,0.203711,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0.0

In [75]:
X = df.drop(['Class'],axis=1)

In [58]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [76]:
y = df.Class

In [72]:
type(y)

pandas.core.series.Series

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=100,stratify=y)

In [79]:
X_train.shape

(43120, 30)

In [80]:
X_test.shape

(18480, 30)

In [81]:
y_train.shape

(43120,)

In [82]:
y_test.shape

(18480,)

In [78]:
parameters = [{'n_estimators': [10, 15],
'max_features': np.arange(3, 5),
'max_depth': np.arange(4, 7)}]

In [83]:
rfc = GridSearchCV(estimator=RandomForestClassifier(random_state=100),
param_grid=parameters,
scoring='roc_auc',
cv=3)

In [84]:
rfc.fit(X_train,y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [85]:
rfc.best_params_

{'max_depth': 6, 'max_features': 3, 'n_estimators': 15}

In [97]:
y_pred_proba = rfc.predict_proba(X_test)

In [98]:
y_pred_proba = y_pred_proba[:,1]

In [99]:
y_pred_proba.shape

(18480,)

In [100]:
roc_auc_score(y_test, y_pred_proba)

0.9789446352031129